@import url("https://fonts.googleapis.com/css2?family=Changa:wght@200..800&family=Readex+Pro:wght@160..700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 400;
}

/* Header Styles */

.main_header {
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  background-color: #060c3b;
  color: white;
}

.main_header .ar_title,
.main_header .eng_title {
  text-align: center;
  width: fit-content;
}

.main_header .ar_title p,
.main_header .eng_title p {
  font-family: "Changa", sans-serif;
  line-height: 26px;
  size: 16px;
}

.main_header .img_title img {
  width: 80px;
  height: 80px;
}

.btn_header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding: 5px 0;
  background-color: #ffffff;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.btn_header .btn_container {
  flex: 0 0 auto;
  width: 25%;
  text-align: center;
}

.btn_container .btn_style {
  text-decoration: none;
  display: block;
  width: 90%;
  text-align: center;
  margin: 2px;
  padding: 15px 5px;
  background-color: #202329;
  border: 1px solid #fff;
  border-radius: 15px;
  color: #fff;
  font-family: "Changa", sans-serif;
  cursor: pointer;
  font-size: 24px;
  font-weight: 700;
  line-height: 21px;
}

.btn_container .btn_style:hover {
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  transform: translateY(-1px);
}

.btn_style span {
  font-size: 12px;
  margin: 0 10px;
}

main{
  background-color: #060c3b;
  height: 100%;
}

.container-fluid{
  width: 99.5%;
  margin: 0 auto;
}

.container-fluid .certificate_wrapper{
  width: 75%;
  padding: 35px 10px;
  margin: 0 auto;
}

.certificate_wrapper .show_table{
  width: 100%;
  margin: 15px auto;
  background: repeating-linear-gradient(to right, #c5e6d5 0px, #a6f8c8 5px, #def3dc 5px, #d8f8e0 10px);
  border-radius: 25px;
}

.show_table .head_section{
  width: 100%;
}

.head_section .row{
    padding: 25px 0;
}

.head_section .titles_part{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.titles_part .img_section{
  width:30%;
  text-align: center;
}

.titles_part .a_title{
  text-align: center;
  width: 30%;
}

.titles_part .e_title{
  text-align: start ;
  width: 30%;
}

.a_title p,
.e_title p span{
  font-size: 18px;
  font-weight: 700;
}

.img_section img{
  width: 75px;
  margin: 0 5px;
}

.head_section .subject_title{
  text-align: center;
  padding: 25px 0;
  line-height: 2.5;
}

.subject_title p{
  font-weight: 700;
  text-decoration: underline;
}

.subject_title h3{
  font-weight: 600;
}

.head_section td{
  border-bottom: 2px solid black;
}

.tr_info{
    width: 100%;
    text-align: start;
    display: flex;
}

.tr_info .cell_right_6,
.tr_info .cell_left_6{
  width: 50%;
  min-height: 130px;
  border-top: 2px solid black;
  padding: 5px 15px;
  text-align: start;
  vertical-align: top;
}

.tr_info .cell_left_6{
  border-right:2px solid black
}

.tr_info .full_height{
  height: 100%;
}

.cell_left_6 .inside_cell{
  height: 130px;
}

.tr_info .right_cell_8{
  width: 60%;
  min-height: 130px;
  border-top: 2px solid black;
  padding: 5px 15px;
  text-align: start;
  vertical-align: top;
}

.tr_info .middle_cell_2,
.tr_info .left_cell_2{
  width: 20%;
  min-height: 130px;
  border-top: 2px solid black;
  border-right: 2px solid black;
  padding: 5px 15px;
  text-align: start;
  vertical-align: top;
}

.tr_info .right_cell_4,
.tr_info .middle_cell_4,
.tr_info .left_cell_4{
  width: 33.3%;
  min-height: 130px;
  border-top: 2px solid black;
  padding: 5px 15px;
  text-align: start;
  vertical-align: top;
}

.tr_info .middle_cell_4,
.tr_info .left_cell_4{
  border-right: 2px solid black;
}

.info_data{
  color: #3c4fdd;
}

@media (max-width: 600px) {
  /* Header Styles */
  .main_header {
    padding: 15px 5px;
    display: flex;
    justify-content: space-between;
  }
  .main_header .ar_title p,
  .main_header .eng_title p {
    line-height: 15px;
    font-size: 9px;
    width: 150px;
    font-weight: 700;
  }

  .main_header .img_title img {
    width: 40px;
    height: 40px;
  }

  .btn_header {
    width: 97%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 5px;
  }

  .btn_header .btn_container {
    width: 50%;
  }

  .btn_container .btn_style {
    font-size: 20px;
    line-height: 14px;
  }

  .btn_style span {
    font-size: 8px;
    margin: 0 10px;
  }
  /* Main Styles */
}