@import url("https://fonts.googleapis.com/css2?family=Changa:wght@200..800&family=Readex+Pro:wght@160..700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 400;
}

/* Header Styles */

.main_header {
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  background-color: #060c3b;
  color: white;
}

.main_header .ar_title,
.main_header .eng_title {
  text-align: center;
  width: fit-content;
}

.main_header .ar_title p,
.main_header .eng_title p {
  font-family: "Changa", sans-serif;
  line-height: 26px;
  size: 16px;
}

.main_header .img_title img {
  width: 80px;
  height: 80px;
}

.btn_header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding: 5px 0;
  background-color: #ffffff;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.btn_header .btn_container {
  flex: 0 0 auto;
  width: 25%;
  text-align: center;
}

.btn_container .btn_style {
  text-decoration: none;
  display: block;
  width: 90%;
  text-align: center;
  margin: 2px;
  padding: 15px 5px;
  background-color: #202329;
  border: 1px solid #fff;
  border-radius: 15px;
  color: #fff;
  font-family: "Changa", sans-serif;
  cursor: pointer;
  font-size: 24px;
  font-weight: 700;
  line-height: 21px;
}

.btn_container .btn_style:hover {
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  transform: translateY(-1px);
}

.btn_style span {
  font-size: 12px;
  margin: 0 10px;
}

main {
  background-color: #060c3b;
  height: 100%;
}

.container_fluid {
  width: 99.5%;
  margin: 0 auto;
}

.container_fluid .certificate_wrapper {
  width: 60%;
  padding: 35px 10px;
  margin: 0 auto;
}

.certificate_wrapper .show_table {
  width: 100%;
  margin: 15px auto;
  background: repeating-linear-gradient(
    to right,
    #c5e6d5 0px,
    #a6f8c8 5px,
    #def3dc 5px,
    #d8f8e0 10px
  );
  border-radius: 25px;
  direction: ltr;
}

.show_table .row_section {
  width: 100%;
  text-align: start;
  display: flex;
}

.row_section .cell_right_6,
.row_section .cell_left_6 {
  width: 50%;
  min-height: 130px;
  padding: 10px 25px;
  border-bottom: 2px solid black;
  text-align: start;
  vertical-align: top;
}

.row_section .cell_left_6 {
  border-right: 2px solid black;
}

.row_section .cell_left_6_2 {
  width: 50%;
  min-height: 130px;
  text-align: start;
  vertical-align: top;
}

.row_section .cell_left_6_2 {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

.row_section .cell_left_6_2 .upper_info{
    border-bottom: 2px solid;
    height: 50%;
}

.cell_left_6_2 .upper_info,
.cell_left_6_2 .last_info{
    padding: 10px 25px;
}

.cell_right_6 .book_data{
    text-align: center;
    line-height: 1;
}

.book_data  .line_description{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 5px 25px 5px 0;
}

.line_description .extension{
    display: flex;
    flex-direction: column;
    line-height: 0;
}

.book_data .bottom_row_info{
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 25px;
}

.bottom_row_info img{
    width: 120px;
}

.row_section .cell_1,
.row_section .cell_1_last,
.row_section .cell_6{
    min-height: 350px;
    padding: 10px 25px;
    border-bottom: 2px solid black;
    text-align: start;
    vertical-align: top;
}

.row_section .cell_1{
    width: 10%;
    border-right: 2px solid black;
}

.row_section .cell_6{
    width: 50%;
    border-right: 2px solid black;
}

@media (max-width: 600px) {
  /* Header Styles */
  .main_header {
    padding: 15px 5px;
    display: flex;
    justify-content: space-between;
  }
  .main_header .ar_title p,
  .main_header .eng_title p {
    line-height: 15px;
    font-size: 9px;
    width: 150px;
    font-weight: 700;
    margin-bottom: 0;
  }

  .main_header .img_title img {
    width: 60px;
    height: 60px;
  }

  .btn_header {
    width: 97%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 5px;
  }

  .btn_header .btn_container {
    width: 50%;
  }

  .btn_container .btn_style {
    font-size: 20px;
    line-height: 14px;
  }

  .btn_style span {
    font-size: 8px;
    margin: 0 10px;
  }
  /* Main Styles */
}
